html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}


.main_header {
    display: flex;
    padding: 1rem 3rem;
    flex-direction: row;
    justify-content: space-between; 
    background-color: aliceblue;
}

.navigation {
    display: flex;
    flex-direction: row;    
    margin: auto 0;
}

.navigation_item {
    margin: 1rem;
    text-decoration-style: none;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.contact_expert {
    margin: auto 0;
    text-align: end;
    font-size: 1rem;
    font-weight: 500;
}

.contact_expert a {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: #234354;
    cursor: pointer;
}
